.container-ext-cms-home{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.navbar-cms-home{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0);
    justify-content: baseline;
    align-items: center;
    padding: 10px;
}
.navbar-cms-home p{
    font-size: 18px;
}
.Id-cms{
    width: 10%;
    display:flex;
    justify-content:baseline;
    align-items:center;
    
}
.Titulo-cms{
    width: 25%;
    display:flex;
    justify-content:baseline;
    align-items:center
}
.Fecha-cms{
    width: 40%;
    display:flex;
    justify-content:baseline;
    align-items:center;
}
.State-cms{
    width: 25%;
    display:flex;
    justify-content:baseline;
    align-items:center;
}
.contenido-cms-home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-color: antiquewhite;*/
}

.container-boton-add-cms{
    background-color: rgb(0, 0, 0);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 55px;
    right: 20px;
    cursor: pointer;
}
.boton-cms{
    color: rgb(255, 255, 255);
    font-size: 125px;
}

.cms-home-content{
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: row;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.cms-home-content p{
    font-size: 15px;
}
.Id-cms-content{
    width: 10%;
    display:flex;
    justify-content:baseline;
    align-items:center;
    padding-left: 5px;
    
}
.Titulo-cms-content{
    width: 25%;
    display:flex;
    justify-content:baseline;
    align-items:center;
    padding-left: 5px;
}
.Fecha-cms-content{
    width: 40%;
    display:flex;
    justify-content:baseline;
    align-items:center;
    padding-left: 5px;
}
.State-cms-content{
    width: 25%;
    display:flex;
    justify-content:baseline;
    align-items:center;
    padding-left: 5px;
}
.cms-home-content-estado,.cms-home-content-estado-draft{
    width: 90%;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
}
.cms-home-content-estado p{
    color: rgb(10, 209, 57);
}
.cms-home-content-estado-draft p{
    color: rgb(10, 176, 209);
}
    