
.container-ext {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-int {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: stretch; 
    flex-direction: row;
}

aside {
    width: 25%;
    height: 100%;
    display: flex;
    background-color: rgb(220, 220, 220);
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
    position: sticky;
    top: 0;
}

.titulo {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
}

.categoria {
    width: 80%;
    padding-left: 35px;
    justify-content: flex-start; 
    align-items: center;
    cursor: pointer;
    display: flex;
}

.categoria p {
    font-size: 25px;
}

.categoria:hover{
    background-color: rgb(196, 193, 193);
    font-weight: bold;
    scale: 1.1;
}

.categoria.active {
    background-color: rgb(36, 179, 79);
    color: rgb(255, 255, 255);
}

.main {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-direction: column;
}

.container-Fecha {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.categoria-activa {
    position: absolute;
    margin-right: 70%;
}

.categoria-activa p {
    font-size: 25px;
}

.Flechas {
    font-size: 30px;
    cursor: pointer;
}

.Fecha {
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Fechas-sele {
    font-size: 20px;
}

.container-contenido {
    width: 100%;
    height: 88%; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding: 20px;
    overflow-y: auto; 
}
.contenido:hover{
    background-color: rgb(196, 193, 193);
}
.contenido {
    width: 100%; 
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: row;
    border: 1px solid #ddd;
    padding: 15px;
    
    overflow: hidden;
    min-height: 200px;
}

.contenido-image {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.img-contenido {
    width: 130px;
    height: 130px;
    background-color: rgb(0, 0, 0);
}

.contenido-total {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start; 
}
.contenido-titulo{
    width: 90%;
}

.contenido-titulo h1 {
    font-size: 25px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.contenido-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%; 
}

.contenido-text p {
    font-size: 18px;
    margin: 0;
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis;
}
