nav{
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    position: sticky;
    top: 0;
    gap: 20px;
}

nav p{
    color: #fff;
    font-size: 17px;
}

nav p:hover{
    font-weight: bold;
}
.nav-iz{
    flex-direction: row;
    display: flex;
    gap: 25px;
}
nav a{
    text-decoration: none;
}
nav a.active {
    border-bottom: 2px solid rgb(255, 255, 255); /* Añade el subrayado */
}